/* CSS Document */
*{
	padding:0;
	margin:0;
}
.clr{
	clear:both;
	}
.no-padding{
	padding:0 !important;
}
.no-margin{
	margin:0 !important;
}
.header-top{
	background:#FF8040;
	
}
.header-top p{
	
	color:#FFF;
	font-size:1.2em;
	}
.menu{
	height:50px;
	background:#00CC00;
	margin:0px auto;
	width:100%;
	}
.menu-noi{
	position:fixed;
	top:0;
	z-index:2000;

	}
.menu-container{
	width:100%;
}
.menu ul{
		list-style:none;
		}
.menu ul li{
	position:relative;
	float:left;
	line-height:50px;
}
.menu ul li:hover{
			background:#FF0000;
}
.menu ul li:hover ul{
			
			display:block;
	}
	
.menu ul li a{
			text-decoration:none;
			font-weight:bold;
			font-size:1.5em;
			padding:15px 20px;
			color:#FFF;
				}
.menu ul li ul{
	width:260px;
	position:absolute;
	display:none;
	background:#CCC;
	top:48px;
	left:0;
	z-index:999;
	}
.menu ul li ul li{
			width:100%;
			float:left;
			height:auto;
	}
.menu ul li ul li a{
			float:left;
			top:25px;
			padding:4px 0 0 0;
			}
	.icon{
		position: absolute;
		top:0;
		left:0;
		display: block;
		cursor: pointer;
	}
	.icon i{display: none;}
@media screen and (max-width:968px){
	.menu{
		background:#00CC00;
		margin:0px auto;
		width:100%;
		z-index: 1999;
		height:30px;
		}
	.menu ul {
		display: none;
		margin-left: 1rem;
	}
	.menu ul li{
		position:relative;
		float:none;
		width:100%
	}	
	
	.icon i{
		text-indent:1rem;
		height:30px;
		line-height: 30px;
		color: rgb(243, 237, 237);
	}
	.icon i:first-child{
		display: block;
	}
	.menu-height{
		height:auto;
	}
	.menu-height>ul{
		display: block;
	}
	.menu-height .icon i:first-child{display:none;}
	.menu-height .icon i:nth-child(2){display:block;}

	
}
#sliderWraper{
	position: relative;
	overflow: hidden;
}
.slide{
	position: absolute;
	}
.slide img{
	float:left;
}
.nuttrai{
	padding:3px 5px 3px 5px;
	background:#099;
	position:absolute;
	left:20px;
	}
.nuttrai:hover{
	cursor:pointer;
	}
.nutphai{
	padding:3px 5px 3px 5px;
	background:#099;
	position:absolute;
	right:20px;
	}
.nutphai:hover{
	cursor:pointer;
}
.test{
	width:100%;
	height:50px;
	background:#F00;
	}
.main{
	padding:0;
	background:#F7F7F7;

	}

.tieude{
		
        background: rgb(218, 215, 215);
		}
.tieude a{
		background:#FF0404;
		float: left;
		text-decoration:none;
		font-size:18px;
		color:#FFF;
		line-height:50px;
		font-weight:bold;
		padding:0 10px;
		-webkit-border-top-right-radius:10px;
		-moz-border-top-right-radius:10px;
		-o-border-top-right-radius:10px;
		-ms-border-top-right-radius:10px;
		}
.tieude i{
    	color:#FFF !important;
}
.main1{
	width:100%;
	float:left;	
	}

.thongtin{
		width:100%;
		float:left;
		height:50px;
		background:#FF9A35;
		text-align:center;
	}
.thongtin a{
		text-decoration:none;
		font-size:14px;
		line-height:50px;
		font-weight:bold;
		color:#000;
			
	}
.thongtin a:hover{ color:#F00;}
.them{
	height:30px;
	float:right;
	}
.them a{
		line-height:25px;
		font-weight:bold;
		color:#00CC00;
	}
.footer{
	height:500px;
	background:url(../img/ffffft.jpg) no-repeat center;
	background-size:cover;
	z-index:100;
	}
.lienhe{
		text-indent:20px;
		margin-top:50px;
	}
.lienhe h4{
	color:#FF0;
	margin-left:17px;
	}
.lienhe p{
		color:#FFF;
		font-weight:bold;
		font-size:1.2em;
	}
.danhmuc{
		text-indent:20px;
		margin-top:50px;	
	}
.danhmuc h4{
			color:#FF0;
			margin-left:17px;
	}
.danhmuc p a{
			color:#FFF;
			font-weight:bold;
			font-size:1.2em;
	}
.danhmuc p a:hover{color:#F00;}
.trang{
	margin:0 auto;
	}
.tuvan{
	width:100%;
	}
.menu_tuvan{
	width:100%;
	
	}

.menu_tuvan p:first-child{
	width:100%;
	text-align:center;
	font-weight:bold;
	font-size:1.2em;
	color:#F30;
	}
.menu_tuvan p{
	padding:0 10px;
	text-align:justify;
}
.menu_tuvan p:nth-child(odd) a{
	color:#0C0;
}
.menu_tuvan p:nth-child(even) a{
	color:#30F;
}
.menu_tuvan a{
	text-decoration:none;
	}
.nd_tuvan{
	width:100%;
	background:#FFF;
	}
.tieude1{
	font-size:24px;
	font-weight:bold;
	text-align:center;
	padding:50px 0 50px 0;
	}
.tieude1 a{
	
	}
.noidung{
	
	}
.noidung p{
	padding:5px 0 5px 0;
	}
.lienhe{
		float:left;
		width:100%;
	}
.nd_lienhe h1{
		color:#F00;
	}
.lienhe ul li{
		color:#FFF;
		font-size:18px;
		padding-top:10px;
		text-decoration:none;
		list-style:none;
}
div.trang {
	width:100%;
	position:relative;
	margin-top:20px;
	height:30px;
	line-height:30px;
	margin-bottom:20px;
}
div.trang ul {
	position:absolute;
	width:auto;
	float:right;
	right:10px;
}
div.trang ul li
{
	list-style:none;
	border:1px solid #CCC;
	float:left;
		color:#00C;
}
div.trang ul li:hover
{
	background:#9C9;
}
div.trang ul li a
{
	padding-left:7px;
	padding-right:7px;
	text-decoration:none;

}
div.trang ul a:hover{
	cursor:pointer;
}
.liactive{
	background:#9c9;
}
.mainright h3{
	color:#F30;
	text-align:center;
	}