/* CSS Document */
*{
	padding:0;
	margin:0;
}
.no-padding{
	padding:0 !important;
}
.no-margin{
	margin:0 !important;
}
.header-top{
	background:#930;
	height:50px;
	line-height:50px;
}
.menu{
	width:1000px;
	height:50px;
	background:#00CC00;
	margin:0px auto;
	}

.menu ul{
		list-style:none;
		}
.menu ul li{
			position:relative;
			float:left;
			line-height:50px;
			}
.menu ul li:hover{
			background:#FF0000;
}
.menu ul li:hover ul{
			display:block;
	}
	
.menu ul li a{
			text-decoration:none;
			font-weight:bold;
			font-size:18px;
			padding:15px 20px;
			color:#FFF;
				}
.menu ul li ul{
	position:absolute;
	display:none;
	width:250px;
	background:#CCC;
	top:48px;
	left:0;
	z-index:999;
	}
.menu ul li ul li{
		float:left;
		width:100%;
		height:auto;
	}
.menu ul li ul li a{
			float:left;
			width:150px;
			top:25px;
			padding:4px 0 0 0;
			}
#sliderWraper{
	position: relative;
	overflow: hidden;
}
.slide{
	position: absolute;
	}
.slide img{
	float:left;
}
.nuttrai{
	padding:3px 5px 3px 5px;
	background:#099;
	position:absolute;
	left:20px;
	}
.nuttrai:hover{
	cursor:pointer;
	}
.nutphai{
	padding:3px 5px 3px 5px;
	background:#099;
	position:absolute;
	right:20px;
	}
.nutphai:hover{
	cursor:pointer;
}
.main{
	
	background:#F7F7F7;
	position:relative;
	}

.tieude{
		width:100%;
		height:50px;
        background: rgb(218, 215, 215);
        line-height: 50px;
        float: left;
		}
.tieude a{
            background:#FF0404;
            float: left;
			text-decoration:none;
			font-size:18px;
			color:#FFF;
			padding:0 10px 0 15px;
			line-height:50px;
			font-weight:bold;
            -webkit-border-top-right-radius:10px;
        -moz-border-top-right-radius:10px;
        -o-border-top-right-radius:10px;
        -ms-border-top-right-radius:10px;
		}
.tieude i{
    color:#FFF !important;
	padding-right:10px;
}
.main1{
		width:250px;
		height:auto;
		float:left;
		padding: 10px 10px 10px 55px;
		
	}

.thongtin{
	float:left;
	height:50px;
	background:#FF9A35;
	text-align:center;
	}
.thongtin a{
			text-decoration:none;
			font-size:14px;
			line-height:50px;
			font-weight:bold;
			color:#000;
			
	}
.thongtin a:hover{ color:#F00;}
.them{
	width:;
	height:25px;
	float:left;
	}
.them a{
		line-height:25px;
		font-weight:bold;
		float:right;
		color:#00CC00;
	}
.footer{
	float:left;
	width:100%;
	height:400px;
	background:url(../img/ffffft.jpg) no-repeat center;
	z-index:100;
	}
.lienhe{
		float:left;
		width:300px;
		padding:50px 10px 20px 200px;
	}
.lienhe ul{
		
	}
.lienhe ul li{
		color:#FFF;
		font-size:18px;
		padding-top:10px;
		text-decoration:none;
		list-style:none;
	}
#diachi{
	background:url(../img/diachi.jpg) no-repeat left;
	padding:0 20px;
	}
#dtchinh{
	background:url(../img/dtchinh.png) no-repeat left;
	padding:0 20px;
	}
#dtkhac{
	background:url(../img/dtkhac.png) no-repeat left;
	padding:0 20px;
	}
#mail{
	background:url(../img/mail.png) no-repeat left;
	padding:0 20px;
	}
.danhmuc{
		width:200px;
		padding:50px 10px 20px 100px;
		float:left;
		
	}
.danhmuc ul li{
			padding-top:10px;
			list-style:none;
	}
.danhmuc ul li a{
				color:#FFF;
				font-size:18px;
				text-decoration:none;
	}
.danhmuc ul li a:hover{color:#F00;}