/* CSS Document */
*{
	padding:0;
	margin:0;
}
.no-padding{
	padding:0 !important;
}
.no-margin{
	margin:0 !important;
}
.header-top{
	background:#930;
	height:50px;
	line-height:50px;
}
.menu{
	width:1000px;
	height:50px;
	background:#00CC00;
	margin:0px auto;
	}

.menu ul{
		list-style:none;
		}
.menu ul li{
			position:relative;
			float:left;
			line-height:50px;
			}
.menu ul li:hover{
			background:#FF0000;
}
.menu ul li:hover ul{
			display:block;
	}
	
.menu ul li a{
			text-decoration:none;
			font-weight:bold;
			font-size:18px;
			padding:15px 20px;
			color:#FFF;
				}
.menu ul li ul{
	position:absolute;
	display:none;
	width:250px;
	background:#CCC;
	top:48px;
	left:0;
	z-index:999;
	}
.menu ul li ul li{
		float:left;
		width:100%;
		height:auto;
	}
.menu ul li ul li a{
			float:left;
			width:150px;
			top:25px;
			padding:4px 0 0 0;
			}
.slide{
	width:100%;
	height:400px;
	background:#930;
	}
.slide img{
	float:left;
	width:100%;
}
.nuttrai{
	padding:3px 5px 3px 5px;
	background:#099;
	position:absolute;
	left:20px;
	top:200px;
	}
.nuttrai:hover{
	cursor:pointer;
	}
.nutphai{
	padding:3px 5px 3px 5px;
	background:#099;
	position:absolute;
	right:20px;
	top:200px;
	}
.nutphai:hover{
	cursor:pointer;
}
.main{
	
	background:#F7F7F7;
	position:relative;
	}

.mainhome{
	
	}
.tieude{
		width:100%;
		height:50px;
        background: rgb(218, 215, 215);
        line-height: 50px;
        float: left;
		}
.tieude a{
            background:#FF0404;
            float: left;
			text-decoration:none;
			font-size:18px;
			color:#FFF;
			padding:0 10px 0 15px;
			line-height:50px;
			font-weight:bold;
            -webkit-border-top-right-radius:10px;
        -moz-border-top-right-radius:10px;
        -o-border-top-right-radius:10px;
        -ms-border-top-right-radius:10px;
		}
.tieude i{
    color:#FFF !important;
	padding-right:10px;
}
.main1{
		width:250px;
		height:auto;
		float:left;
		padding: 10px 10px 10px 55px;
		
	}

.thongtin{
	float:left;
	height:50px;
	background:#FF9A35;
	text-align:center;
	}
.thongtin a{
			text-decoration:none;
			font-size:14px;
			line-height:50px;
			font-weight:bold;
			color:#000;
			
	}
.thongtin a:hover{ color:#F00;}
.them{
	width:;
	height:25px;
	float:left;
	}
.them a{
		line-height:25px;
		font-weight:bold;
		float:right;
		color:#00CC00;
	}
.footer{
	height:500px;
	background:url(../img/ffffft.jpg) no-repeat center;
	background-size:cover;
	z-index:100;
	}
.lienhe{
		text-indent:20px;
		margin-top:50px;
	}
.lienhe h4{
	color:#FF0;
	margin-left:17px;
	}
.lienhe p{
		color:#FFF;
		font-weight:bold;
		font-size:1.2em;
	}
.danhmuc{
		text-indent:20px;
		margin-top:50px;	
	}
.danhmuc h4{
			color:#FF0;
			margin-left:17px;
	}
.danhmuc p a{
			color:#FFF;
			font-weight:bold;
			font-size:1.2em;
	}
.danhmuc p a:hover{color:#F00;}